{
  "openapi": "3.0.3",
  "info": {
    "title": "NextOlymp REST API",
    "description": "NextOlymp onlayn olimpiada va milliy sertifikat platformasi uchun rasmiy MySQL REST API hujjatlari. Barcha endpointlar to'g'ridan-to'g'ri serverdagi MySQL ma'lumotlar bazasi bilan ishlaydi.",
    "version": "1.0.0",
    "contact": {
      "name": "NextOlymp Developer Team",
      "url": "https://nextolymp.uz"
    }
  },
  "servers": [
    {
      "url": "https://nextolymp.uz",
      "description": "Production Server"
    },
    {
      "url": "",
      "description": "Joriy Server (Nisbiy manzil)"
    }
  ],
  "paths": {
    "/api/users.php": {
      "get": {
        "summary": "Barcha foydalanuvchilar ro'yxatini olish",
        "description": "MySQL bazasidagi barcha ro'yxatdan o'tgan foydalanuvchilar yoki berilgan ID bo'yicha bitta foydalanuvchini qaytaradi.",
        "tags": ["Foydalanuvchilar (Users)"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Muayyan foydalanuvchi IDsi",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Foydalanuvchilar ro'yxati (JSON massiv)"
          }
        }
      },
      "post": {
        "summary": "Foydalanuvchi yaratish yoki yangilash",
        "description": "Yangi foydalanuvchi profilini yoki natijasini MySQL bazasiga saqlaydi.",
        "tags": ["Foydalanuvchilar (Users)"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fullName": { "type": "string", "example": "Alisher Navoiy" },
                  "email": { "type": "string", "example": "alisher@example.uz" },
                  "phone": { "type": "string", "example": "+998901234567" },
                  "role": { "type": "string", "enum": ["student", "teacher", "admin"], "example": "student" },
                  "grade": { "type": "integer", "example": 9 },
                  "region": { "type": "string", "example": "Toshkent shahri" },
                  "district": { "type": "string", "example": "Yunusobod" },
                  "school": { "type": "string", "example": "72-maktab" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli saqlandi"
          }
        }
      },
      "delete": {
        "summary": "Foydalanuvchini o'chirish",
        "tags": ["Foydalanuvchilar (Users)"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "O'chirilishi kerak bo'lgan foydalanuvchi IDsi",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Foydalanuvchi o'chirildi"
          }
        }
      }
    },
    "/api/auth.php": {
      "post": {
        "summary": "Kirish (Login) yoki Ro'yxatdan o'tish (Register)",
        "description": "Foydalanuvchini MySQL bazasidan tekshirib tizimga kiritadi yoki yangi foydalanuvchi ochadi.",
        "tags": ["Avtorizatsiya (Auth)"],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "description": "login yoki register (agar bodyda berilmagan bo'lsa)",
            "schema": { "type": "string", "enum": ["login", "register"] }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": { "type": "string", "example": "login" },
                  "email": { "type": "string", "example": "user@nextolymp.uz" },
                  "password": { "type": "string", "example": "parol123" },
                  "fullName": { "type": "string", "example": "Jasur Aliyev" },
                  "phone": { "type": "string", "example": "+998901234567" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Foydalanuvchi ma'lumotlari va JWT token"
          }
        }
      }
    },
    "/api/olympiads.php": {
      "get": {
        "summary": "Barcha olimpiadalarni olish",
        "description": "MySQL bazasidagi barcha olimpiadalar va ularning savollarini qaytaradi.",
        "tags": ["Olimpiadalar (Olympiads)"],
        "responses": {
          "200": {
            "description": "Olimpiadalar ro'yxati"
          }
        }
      },
      "post": {
        "summary": "Olimpiada yaratish yoki tahrirlash",
        "description": "Olimpiada va unga biriktirilgan savollarni MySQL bazasiga saqlaydi.",
        "tags": ["Olimpiadalar (Olympiads)"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": { "type": "string", "example": "OLY-101" },
                  "title": { "type": "string", "example": "Matematika Respublika Olimpiadasi" },
                  "subject": { "type": "string", "example": "math" },
                  "durationMinutes": { "type": "integer", "example": 60 },
                  "maxScore": { "type": "integer", "example": 100 },
                  "isFree": { "type": "boolean", "example": true },
                  "questions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "content": { "type": "string", "example": "2 + 2 = ?" },
                        "options": { "type": "array", "items": { "type": "string" }, "example": ["3", "4", "5", "6"] },
                        "correctAnswer": { "type": "string", "example": "B" },
                        "points": { "type": "integer", "example": 4 }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Olimpiada saqlandi" }
        }
      },
      "delete": {
        "summary": "Olimpiadani o'chirish",
        "tags": ["Olimpiadalar (Olympiads)"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Olimpiada IDsi",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Olimpiada o'chirildi" }
        }
      }
    },
    "/api/national-exams.php": {
      "get": {
        "summary": "Milliy sertifikat imtihonlarini olish",
        "description": "Barcha rasmiy milliy sertifikat imtihonlari va spetsifikatsiyalari ro'yxatini qaytaradi.",
        "tags": ["Milliy Sertifikat (National Exams)"],
        "responses": {
          "200": { "description": "Imtihonlar ro'yxati" }
        }
      },
      "post": {
        "summary": "Milliy sertifikat imtihonini yaratish/yangilash",
        "tags": ["Milliy Sertifikat (National Exams)"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": { "type": "string", "example": "NC-101" },
                  "title": { "type": "string", "example": "Matematika Fanidan Milliy Sertifikat" },
                  "subject": { "type": "string", "example": "Matematika" },
                  "durationMinutes": { "type": "integer", "example": 150 },
                  "maxScore": { "type": "integer", "example": 75 },
                  "aThreshold": { "type": "integer", "example": 65 },
                  "calculationMethod": { "type": "string", "example": "rasch" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Imtihon saqlandi" }
        }
      },
      "delete": {
        "summary": "Milliy sertifikat imtihonini o'chirish",
        "tags": ["Milliy Sertifikat (National Exams)"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Imtihon o'chirildi" }
        }
      }
    },
    "/api/submit.php": {
      "post": {
        "summary": "Imtihon yoki Olimpiada natijalarini topshirish (Submit)",
        "description": "Foydalanuvchi ishlagan javoblarni, ballni va vaqtni MySQL bazasidagi submissions jadvaliga saqlaydi.",
        "tags": ["Natijalar (Submissions)"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": { "type": "string", "example": "usr_178983" },
                  "userName": { "type": "string", "example": "Jasur Aliyev" },
                  "olympiadId": { "type": "string", "example": "OLY-101" },
                  "olympiadTitle": { "type": "string", "example": "Matematika Olimpiadasi" },
                  "score": { "type": "integer", "example": 88 },
                  "maxScore": { "type": "integer", "example": 100 },
                  "timeSpentMinutes": { "type": "integer", "example": 45 },
                  "answers": {
                    "type": "object",
                    "example": { "q1": "A", "q2": "C" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Natija muvaffaqiyatli saqlandi" }
        }
      }
    },
    "/api/olympiad/submit": {
      "post": {
        "summary": "Olimpiada topshirish (Alias: /api/olympiad/submit)",
        "description": "/api/submit.php bilan bir xil ishlaydi.",
        "tags": ["Natijalar (Submissions)"],
        "responses": {
          "200": { "description": "Natija muvaffaqiyatli saqlandi" }
        }
      }
    },
    "/api/submissions.php": {
      "get": {
        "summary": "Natijalarni olish (Foydalanuvchi yoki Olimpiada bo'yicha)",
        "tags": ["Natijalar (Submissions)"],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "Foydalanuvchi ID",
            "schema": { "type": "string" }
          },
          {
            "name": "olympiadId",
            "in": "query",
            "required": false,
            "description": "Olimpiada ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Topshirilgan ishlar ro'yxati" }
        }
      }
    },
    "/api/logs.php": {
      "get": {
        "summary": "Anti-cheat va proktoring jurnallarini olish",
        "tags": ["Xavfsizlik va Proktoring (Anti-Cheat Logs)"],
        "responses": {
          "200": { "description": "Qoidabuzarliklar jurnali" }
        }
      },
      "post": {
        "summary": "Proktoring hodisasini qayd etish",
        "tags": ["Xavfsizlik va Proktoring (Anti-Cheat Logs)"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "studentId": { "type": "string", "example": "usr_178" },
                  "studentName": { "type": "string", "example": "Jasur Aliyev" },
                  "olympiadId": { "type": "string", "example": "OLY-101" },
                  "eventType": { "type": "string", "example": "TAB_SWITCH" },
                  "details": { "type": "string", "example": "Brauzer oynasidan chiqib boshqa ilovaga o'tdi" },
                  "severity": { "type": "string", "example": "Yuqori" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Hodisa MySQL bazasiga yozildi" }
        }
      }
    }
  }
}
